__pycache__/load_train_data.cpython-310.pyc
__pycache__/analysis.cpython-310.pyc
__pycache__/test_analysis.cpython-310.pyc
__pycache__/load_train_data.cpython-310.pyc
__pycache__/clean_data.cpython-310.pyc
__pycache__/load_train_data.cpython-310.pyc
Project A_Spec.pdf
